:root {
  --primary: #237e3e; 
  --bg-dark: #151d2e;
  --bg-card: #ffffff;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --primary-background: rgba(7, 66, 39); 
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-main);
}

a {
  text-decoration: none;
  color: inherit;
}